@use 'partial/color.scss' as *;
@use 'partial/mixin.scss' as *;
@use 'partial/hamburger.scss' as *;

@use '../css/icons.css';

body {
  min-width: 1100px;

  @include screen('tablet') {
    padding-top: 49.2px;
    min-width: 0;
  }

  &.locked {
    overflow: hidden;
  }
}

.container {
  // max-width: 1100px;
  width: 1100px;
  margin: 0 auto;

  @include screen('tablet') {
  	width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// ==========================================================================
// Header
// ==========================================================================

.header {
  position: fixed;
  top: 0;
  background-color: $white;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1px 5px #b1b0b0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 20px;

  @include screen('tablet') {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
}

.nav__logo {
  margin: 0;
}

.nav__list {
  @include remove-default-ul();
  display: flex;
  text-align: center;
  align-items: center;

  @include screen('tablet') {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    height: calc(100vh - 53px);
    background-color: $java;
    left: 0;
    overflow-y: scroll;
    text-align: left;
  }
}

.nav__list_open {
  @include screen('tablet') {
    background-color: black;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 49px;

    @include screen('tablet') {
      margin-right: 0;
      border-bottom: 1px solid $white;
    }
  }

  @include screen('tablet') {
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav__link {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $blue;
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include screen('tablet') {
    color: white;
    padding-left: 20px;
    display: block;
    font-size: 12px;
  }
}

.nav__logo-image {
  width: 246px;

  @include screen('tablet') {
    width: 123px;
  }
}

.hamburger {
  display: none;

  @include screen('tablet') {
    display: inline-block;
    padding: 0;
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    width: 28px;
    background-color: $java;
  }
}

.hamburger-box {
  @include screen('tablet') {
    width: 28px;
  }
}

// ==========================================================================
// Hero
// ==========================================================================

.hero {
  background-image: url(../img/hero.jpg);
  // background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  // background-position-x: center;
  background-position: center;
  // @include size(100%, 961px);
  @include size(100%, 860px);

  @include screen('tablet') {
    background-image: url(../img/lady.png), url(../img/without.png);
    height: 442px;
    background-repeat: no-repeat;
    background-size: 260px 209px, 100%;
    background-position: right 35px bottom 0, top left;
  }
}

.hero__text {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: $nile-blue;
  line-height: calc( 36 / 28 );
  text-align: center;
  width: 551px;
  padding-left: 19px;
  margin-top: 15px;
  margin-bottom: 25px;

  @include screen('tablet') {
    font-size: 14px;
    width: 100%;
    padding-left: initial;
    margin-top: 10px;
    margin-bottom: 12.5px;
  }
}

.hero__text-underline {
  position: relative;
  text-shadow: 2px 3px $white;
  background-image: linear-gradient($sweet-corn, $sweet-corn);
  background-size: 100% 6px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.hero__heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 61px;
  width: 551px;
  text-align: center;
  padding-left: 19px;
  text-shadow: 2px 2px $white;

  @include screen('tablet') {
    width: 100%;
    padding-left: initial;
    margin-bottom: 143px;
  }
}

.hero__heading_cyan {
  color: $java;
}

.hero__heading_blue {
  color: $nile-blue;
}

.hero__heading_red {
  color: $burnt-sienna;
}

.hero__heading_cyan,
.hero__heading_blue,
.hero__heading_red_medium {
  font-size: 54px;

  @include screen('tablet') {
    font-size: 27px;
  }
}

.hero__heading_red_big {
  font-size: 94px;
  // letter-spacing: 3.2px;
  letter-spacing: 16px;
  margin-right: -16px;

  @include screen('tablet') {
    font-size: 47px;
    letter-spacing: 8px;
    margin-right: -8px;
  }
}

.hero__comparison {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @include screen('tablet') {
    margin-bottom: initial;
  }
}

.hero__comparison-button {
  color: $white;
  background-color: $casablanca;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-radius: 4px;
  padding: 12px 59px 34px 57px; // 14px - 2px, 61px - 2px, 36px - 2px, 59px - 2px
  border: 2px solid $casablanca;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;

  &:hover {
    background-color: $white;
    color: $casablanca;
  }

  &::before {
    position: absolute;
    content: '\e800';
    font-family: icons;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;

    @include screen('tablet') {
      bottom: 9px;
      font-size: 6px;
    }
  }

  &::after {
    position: absolute;
    content: '\e800';
    font-family: icons;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;

    @include screen('tablet') {
      bottom: 5px;
      font-size: 6px;
    }
  }

  @include screen('tablet') {
    font-size: 14px;
    padding: 6px 25.5px 26.5px; // 8px - 2px, 27.5px - 2px, 28.5px - 2px
  }
}

.hero__figure {
  padding-top: 146px; // 58px + 88px

  @include screen('tablet') {
    //padding-top: 64px; // 15px + 49px
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

.hero__figure-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: $nile-blue;
  background-color: $alabaster;
  border-radius: 50px;
  border: 3px solid $white;
  padding: 12px 30px;
  margin-left: 20px;
  display: inline-block;

  @include screen('tablet') {
    font-size: 11px;
    border: 1.5px solid $white;
    padding: 6px 20px 5px;
    margin-left: initial;
  }
}

.hero__figure-image {
  @include size(42px, 41px);
  vertical-align: middle;

  @include screen('tablet') {
    @include size(21px, 20.5px);
  }
}

// ==========================================================================
// Search
// ==========================================================================

.search {
  background-color: transparent;
  // margin-top: calc( -152px - 101px );
  // margin-top: -152px;
  margin-top: -121px;

  @include screen('tablet') {
    // margin-top: -392px;
    margin-top: initial;
  }
}

.form {
  padding: 40px;

  @include screen('tablet') {
    padding: 20px;
  }
}

.search__inner {
  background-color: $white;
  box-shadow: 2px 3px 5px $gallery-234;
}

.search__heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  color: $white;
  background-color: $java;
  margin-top: 0;
  text-align: center;
  font-size: 28px;
  padding-top: 30px;
  padding-bottom: 30px;

  @include screen('tablet') {
    font-size: 18px;
    line-height: calc( 50 / 36 );
    padding-top: 13px;
    padding-bottom: 16px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.search__heading-break {
  display: none;

  @include screen('tablet') {
    display: initial;
  }
}

.search__heading-icon {
  @include size(30px, 30px);
  vertical-align: bottom;
  margin-right: 19px;

  @include screen('tablet') {
    @include size(18px, 18px);
    vertical-align: baseline;
    margin-right: 5px;
  }
}

.search__submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search__button {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: $white;
  background-color: $casablanca;
  padding: 13px 58px; // 15px - 2px, 60px - 2px
  border: 2px solid $casablanca;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $white;
    color: $casablanca;

    .search__button-icon path {
      fill: $casablanca;
    }
  }

  @include screen('tablet') {
    font-size: 14px;
    padding: 11px 36.5px; // 13px - 2px, 38.5px - 2px
  }
}

.search__button-icon {
  @include size(20px, 20px);
  margin-right: 9px;

  @include screen('tablet') {
    @include size(14px, 14px);
    margin-right: 5px;
  }
}

.table-search {
  width: 100%;
  border: 1px solid $silver-chalice;
  border-collapse: collapse;
}

.table-search__row {

  @include screen('tablet') {
    display: inline;
  }

  .table-search__cell {
    &:not(:last-child) {
      border-right: 1px solid $gallery;
    }
  }

  &:nth-child(3) {
    .table-search__cell:last-child {
      @include screen('tablet') {
        display: none;
      }
    }
  }
}

.table-search__row-1 {
  >.table-search__cell {
    border-bottom: 1px solid $gallery;
  }

  >.table-search__cell-1 {
    @include screen('tablet') {
      border-right: 1px solid $gallery;
    }
  }
}

.table-search__row-2,
.table-search__row-3 {
  >.table-search__cell {
    border-bottom: 1px solid $silver-chalice;

    @include screen('tablet') {
      border-bottom: 1px solid $gallery;
    }
  }
}

.table-search__row-2 {
  .table-search__cell-1 {
    @include screen('tablet') {
      border-left: 1px solid $gallery;
    }
  }

  .table-search__cell-2,
  .table-search__cell-3 {
    @include screen('tablet') {
      border-bottom: 1px solid $silver-chalice;
    }
  }
}

.table-search__row-3 {
  .table-search__cell-1,
  .table-search__cell-2 {
    @include screen('tablet') {
      border-bottom: 1px solid $silver-chalice;
    }
  }
}
.table-search__row-4 {
  .table-search__cell-1 {
    @include screen('tablet') {
      width: 100%;
      padding: initial;
    }
  }

  .table-search__checkbox:nth-child(1) {
    border-right: 1px solid $gallery;
  }

  .table-search__checkbox:nth-child(1),
  .table-search__checkbox:nth-child(2) {
    @include screen('tablet') {
      width: 50%;
    }
  }

  .table-search__checkbox:nth-child(3),
  .table-search__checkbox:nth-child(4) {
    @include screen('tablet') {
      width: 100%;
    }
  }
}

.table-search__cell {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: $nile-blue;
  padding-top: 20px;
  padding-bottom: 20px;

  @include screen('tablet') {
    float: left;
    width: 50%;
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 12.5px;
    padding-bottom: 11.5px;
  }
}

.icon-user {
  @include size(22px, 20px);
  margin-right: 10px;
  vertical-align: bottom;

  path {
    fill: $java-197;
  }

  @include screen('tablet') {
    margin-right: 5px;
  }
}

.icon-phone {
  @include size(14px, 20px);
  margin-right: 13px;
  vertical-align: bottom;

  path {
    fill: $java-197;
  }

  @include screen('tablet') {
    margin-right: 6.5px;
  }
}

.icon-light {
  @include size(20px, 20px);
  margin-right: 10px;
  vertical-align: bottom;

  path {
    fill: $java-197;
  }

  @include screen('tablet') {
    margin-right: 5px;
  }
}

.table-search__heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $nile-blue;
  text-align: left;
  padding-left: 30px;
  border-bottom: 1px solid $silver-chalice;
  border-right: 1px solid $silver-chalice;

  @include screen('tablet') {
    float: left;
    width: 100%;
    padding-left: initial;
    padding-top: 17px;
    padding-bottom: 17px;
    border-right: none;
    // border-top: 1px solid $silver-chalice;
    text-align: center;
    font-size: 14px;
  }
}

.table__search-radio {
  position: relative;
  padding-left: 25px; // 15px + 10px
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
  display: block;

  @include screen('tablet') {
    margin-left: 15px;
  }

  input {
    display: none;
  }

  input:checked ~ .table-search__fake-radio {
    background-color: $white;
    border: 1px solid grey;
  }

  input:checked ~ .table-search__fake-radio::after {
    display: block;
  }

  &:hover {
    input ~ .table-search__fake-radio {
      opacity: 0.8;
    }
  }
}

.table-search__fake-radio {
  position: absolute;
  top: calc( 50% - (15px / 2) );
  left: 0;
  @include size(15px, 15px);
  background-color: $gallery;
  border-radius: 50%;
  box-sizing: border-box;

  &::after {
    content: '';
    position: absolute;
    display: none;
    top: calc( 50% - (7px / 2) );
    left: calc( 50% - (7px / 2) );
    @include size(7px, 7px);
    border-radius: 50%;
    background: $java-197;
  }
}

.table-search__checkbox {
  position: relative;
  padding-left: 22px; // 14px + 8px
  cursor: pointer;
  user-select: none;
  margin-left: 29px;
  
  input {
    display: none;
  }

  input:checked ~ .table-search__fake-checkbox::after {
    display: block;
  }

  @include screen('tablet') {
    float: left;
    box-sizing: border-box;
    padding-left: 39px;
    padding-top: 12.5px;
    padding-bottom: 11.5px;
    margin-left: initial;
  }

  &:not(:last-child) {
    @include screen('tablet') {
      border-bottom: 1px solid $gallery;
    }
  }
}

.table-search__fake-checkbox {
  position: absolute;
  top: calc( 50% - ( 14px / 2 ) );
  left: 0;
  @include size(14px, 14px);
  border: 1px solid $silver-chalice;

  &::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 4px;
    display: none;
    @include size(5px, 8px);
    border: solid $java-197;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  @include screen('tablet') {
    margin-left: 15px;
    // margin-right: 20px;
  }
}

// ==========================================================================
// Feature
// ==========================================================================

.feature {
  background-image: url(../img/background-feature.jpg);
  background-position: left bottom;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 3px;
}

.feature__wrap {
  border: 1px solid $java;
  padding: 39px;

  @include screen('tablet') {
    padding: initial;
    border: none;
    border-top: 1px solid $java;
  }
}

.feature-table {
  border: 1px solid $silver-chalice;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: $white;
}

.feature-table th,
.feature-table td {
  border: 1px solid $silver-chalice;

  &:nth-child(1) {
    width: 17.15686274509804%; // 175 / 1020

    @include screen('tablet') {
      width: 31.42857142857143%;
    }
  }

  &:nth-child(2) {
    width: 17.058823529411765%; // 174 / 1020

    @include screen('tablet') {
      width: 31.42857142857143%;
    }
  }

  &:nth-child(3) {
    width: 11.078431372549019%; // 113 / 1020
  }

  &:nth-child(4) {
    width: 11.176470588235295%; // 114 / 1020
  }

  &:nth-child(5) {
    width: 11.176470588235295%; // 114 / 1020
  }

  &:nth-child(6) {
    width: 11.078431372549019%; // 113 / 1020
  }

  &:nth-child(7) {
    width: 20.4901961%; // 209 / 1020

    @include screen('tablet') {
      width: 35.714285714285715%;
    }
  }

}

.feature-table th {
  padding-top: 19px;
  padding-bottom: 19px;
}

.feature-table td {
  padding-top: 12px;
  padding-bottom: 12px;

  @include screen('tablet') {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.feature__heading {
  text-align: center;
  line-height: 1.5;
  margin-top: 0;
  font-size: 28px;

  @include screen('tablet') {
    font-size: 18px;
    line-height: calc( 52 / 36 );
  }
}

.feature-head-row__cell-name,
.feature-head-row__cell-degree,
.feature-head-row__cell-price,
.feature-head-row__cell-capacity,
.feature-head-row__cell-user,
.feature-head-row__cell-security,
.feature-head-row__cell-website {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: $nile-blue;
  background-color: $black-squeeze;

  @include screen('tablet') {
    font-size: 12px;
  }
}

.feature-body-row__cell-name {
  img {
    max-width: 116px;
  }

  @include screen('tablet') {
    img {
      max-width: 58px;
    }
  }
}

.feature-body-row__cell-url {
  color: $white;
  background-color: $casablanca;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 7px 34px 7px 18px;
  position: relative;
  border-radius: 4px;
  border: 2px solid $casablanca;
  transition: all 0.2s;
  display: inline-block;

  &::after {
    content: '\e803';
    font-size: 12px;
    right: 20px;
    font-family: icons;
    
    @include center('vertical');

    @include screen('tablet') {
      right: 5px;
      font-size: 6px;
    }
  }

  &:hover {
    background-color: $white;
    color: $casablanca;
  }

  @include screen('tablet') {
    font-size: 10px;
    padding: 8px 14px 8px 5px; //  10px - 2px, 16px - 2px, 10px - 2px, 7px - 2px
  }
}

.feature-head-row__cell-capacity,
.feature-body-row__cell-capacity,
.feature-head-row__cell-price,
.feature-body-row__cell-price,
.feature-head-row__cell-user,
.feature-body-row__cell-user,
.feature-head-row__cell-security,
.feature-body-row__cell-security {
  @include screen('tablet') {
    display: none;
  }
}

.icon-star {
  @include size(20px, 20px);
  
  &:not(:last-child) {
    margin-right: 4px;
  }

  @include screen('tablet') {
    @include size(10px, 10px);
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
}

// ==========================================================================
// Function
// ==========================================================================

.function {
  background-image: url(../img/background-function.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 80px;
  padding-bottom: 80px;

  @include screen('tablet') {
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.function__list {
  @include remove-default-ul();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; // for IE 11

  @include screen('tablet') {
    flex-direction: column;
  }
}

.function__item {
  width: 260px;
  margin-bottom: 20px;
  background-color: $white;

  @include screen('tablet') {
    @include size(100%, auto);
    margin-bottom: 10px;
  }
  
  &:nth-child(4n+2) {
    margin-left: 20px;
    margin-right: 20px;

    @include screen('tablet') {
      margin-left: initial;
      margin-right: initial;
    }
  }

  &:nth-child(4n+3) {
    margin-right: 20px;

    @include screen('tablet') {
      margin-right: initial;
    }
  }

  &:last-child {
    @include screen('tablet') {
      margin-bottom: initial;
    }
  }
}

.function__link {
  display: block;
  text-decoration: none;

  @include screen('tablet') {
    display: flex;
  }

  &:hover {
    opacity: 0.8;
  }
}

.function__image {
  height: 195px;
  padding: 0;
  margin: 0;
  background-color: $orange-white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen('tablet') {
    height: auto;
    width: 85px;
  }
}

.function__src {
	@include size(139px, 111px);

  @include screen('tablet') {
    @include size(69.5px, 55.5px);
  }
}

.function__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  position: relative;
  line-height: 1.5;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @include screen('tablet') {
  	font-size: 14px;
    display: block;
    height: auto;
    width: calc(100% - 85px);
    padding-left: 10px;
  }

  &::after {
    content: url(../img/arrow-right.png);
    @include center('vertical');
    right: 20px;

    @include screen('tablet') {
      content: '';
      @include size(6.5px, 10px);
      background-image: url(../img/arrow-right-sp.png);
      background-size: 6.5px 10px;
    	right: 10px;
    }
  }
}

.function__title_blue {
  color: $nile-blue;
}

.function__title_red {
  color: $carnation;
}

.function__heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 28px;
  color: $white;
  text-align: center;
  margin-top: 0;
  line-height: 1.5;

  @include screen('tablet') {
  	font-size: 18px;
  }
}

.function__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include screen('tablet') {
  	margin-top: 20px;
  }
}

.function__see-more {
  font-size: 24px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  color: $white;
  background-color: $casablanca;
  padding: 13px 58px; // 15px - 2px, 60px - 2px
  border: 2px solid $casablanca;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
  border-radius: 4px;

  @include screen('tablet') {
    font-size: 14px;
    padding: 14px 33.5px;
  }

  &::after {
    content: '\e803';
    font-size: 12px;
    font-family: icons;
    margin-left: 10px;
    @include center('vertical');
  }

  &:hover {
    background-color: $white;
    color: $casablanca;
  }
}

// ==========================================================================
// Recommended
// ==========================================================================

.recommended {
  padding-top: 80px;
  padding-bottom: 80px;

  @include screen('tablet') {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.recommended__list {
  @include remove-default-ul();
  display: flex;
  flex-wrap: wrap;
  width: 100%; // for IE 11

  @include screen('tablet') {
    justify-content: space-between;
  }
}

.recommended__item {
  // @include size(258px, 154px);
  width: 258px;
  border: 1px solid $silver-chalice;
  border-radius: 4px;
  margin-bottom: 20px;

  &:nth-child(4n+2) {
    margin-left: 20px;
    margin-right: 20px;

    @include screen('tablet') {
      margin-left: initial;
      margin-right: initial;
    }
  }

  &:nth-child(4n+3) {
    margin-right: 20px;
    @include screen('tablet') {
      margin-right: initial;
    }
  }

  @include screen('tablet') {
    width: calc( 50% - 5px );
    margin-bottom: 10px;
  }
}

.recommended__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  //height: 100%;

  &:hover {
    opacity: 0.8;
  }
}

.recommended__heading {
  color: $nile-blue;
  font-size: 28px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  margin-top: 0;

  @include screen('tablet') {
    font-size: 18px;
    line-height: calc( 52 / 36 );
  }
}

.recommended__title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $pickled-bluewood;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-left: 20px;
  line-height: 1.5;
  height: 75px;
  display: flex;
  align-items: center;

  &::after {
    content: url(../img/arrow-right.png);
    @include center('vertical');
    right: 19px;

    @include screen('tablet') {
      content: '';
      background-image: url(../img/arrow-right-sp.png);
      background-size: 6.5px 10px;
      @include size(6.5px, 10px);
      right: 8px;
      top: auto;
      transform: none;
    }
  }

  @include screen('tablet') {
    font-size: 12px;
    padding-right: 12.5px;
    padding-top: 25px;
    padding-bottom: 10px;
    height: auto;
  }
}

.recommended__logo {
  margin: 0;
  margin-top: 19px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen('tablet') {
    margin-top: 14px;
    height: 30px;
  }
}

.recommended__image {
  display: block;
  max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;

  @include screen('tablet') {
    max-width: 110px;
    max-height: 30px;
  }
}

// ==========================================================================
// Banner
// ==========================================================================

.banner {
  background-color: $hint-yellow;
  padding-top: 80px;
  padding-bottom: 80px;

  @include screen('tablet') {
  	padding-top: 60px;
  	padding-bottom: 50px;
  }
}

.banner__inner {
  display: flex;
  justify-content: center;
}

.banner__image {
  display: block;
}

.banner__src {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  @include screen('tablet') {
    width: 100%;
  }
}

// ==========================================================================
// Footer
// ==========================================================================

.footer {
  background-color: $pickled-bluewood;
  padding-top: 22px;
  padding-bottom: 22px;

  @include screen('tablet') {
  	padding-top: 20px;
  	padding-bottom: 11px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; // for IE 11

  @include screen('tablet') {
    flex-direction: column;
  }
}

.footer__list {
  @include remove-default-ul();
  display: flex;

  @include screen('tablet') {
    justify-content: center;
    font-size: 14px;
    flex-wrap: wrap;
  }
}

.footer__link,
.footer__copyright {
	font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
	font-size: 14px;
	color: $white;
  text-decoration: none;
}

.footer__item {
  &:not(:last-child) {
    border-right: 2px solid $iron;
    padding-right: 20px;
  }

  &:not(:first-child) {
    padding-left: 20px;
  }
}

.footer__link {
  &:hover {
    text-decoration: underline;
  }
}

.footer__copyright {
  margin: 0;

  @include screen('tablet') {
    text-align: center;
    margin-top: 23px;
    font-size: 12px;
  }
}