$white           : #ffffff;
$blue            : #273845;
$pickled-bluewood: #273845;
$iron            : #d4d6d8;
$nile-blue       : #193a4d;
$silver-chalice  : #afafaf;
$hint-yellow     : #fdfcde;
$java            : #16c7db;
$java-220        : #1cc9dc;
$java-197        : #13AAC5;
$carnation       : #ef5d68;
$casablanca      : #f8b14d;
$orange-white    : #fefcee;
$black-squeeze   : #f2f9fa;
$gallery         : #efefef;
$gallery-234     : #eaeaea;
$burnt-sienna    : #ed5a50;
$sweet-corn      : #faf57f;
$alabaster       : #fafafa;